In [0]:
desc database default;

In [0]:
drop database jd2;

In [0]:
create database if not exists j2d;

In [0]:
desc database j2d;

In [0]:
use j2d;

In [0]:
create table j2d.employee (
  emp_id int,
  emp_name string,
  emp_dep string,
  emp_salary int
);

In [0]:
select * from employee;

In [0]:
insert into employee values (100, 'Dileep', 'IT', 12000);

In [0]:
insert into employee (emp_id, emp_name, emp_dep) values (101, 'Kiran', 'IT');

In [0]:
select * from employee;

In [0]:
insert into employee values (102, 'Charan', 'IT', 15000), (103, 'Jaswanth', 'IT', 13000), (104, 'Yognath', 'Finance' ,30000);

In [0]:
select * from employee;

In [0]:
-- where

select * from employee where emp_salary is null;

In [0]:
select * from employee where emp_salary > 20000;

In [0]:
select emp_id, emp_name from employee;

In [0]:
select * from employee where emp_name like 'C%'

In [0]:
select * from employee where emp_name like '%h'

In [0]:
select * from employee where emp_name like 'K____';

In [0]:
-- orderBy
select * from employee 
order by emp_id desc;

In [0]:
select * from employee 
order by emp_id;

In [0]:
select * from employee where emp_name like '%h' and emp_salary >= 13000;

In [0]:
select * from employee where emp_name like '%h' or emp_name like '%n';

In [0]:
select * from employee where emp_salary is not null;

In [0]:
select * from employee where emp_salary = null;

In [0]:
-- null = null this is wrong

In [0]:
-- update
update employee
set emp_salary = 18000
where emp_salary is null;

In [0]:
select * from employee;

In [0]:
create table dummy_emp as
(
  select * from employee 
  order by emp_id
)

In [0]:
select * from dummy_emp;

In [0]:
-- delete

delete from employee 
where emp_id = 102;

In [0]:
select * from employee;

In [0]:
delete from employee 
-- where emp_id = 102;

In [0]:
select * from employee

In [0]:
drop table employee;

In [0]:
create table employee as
(
  select * from dummy_emp 
  order by emp_id
)

In [0]:
-- truncate
truncate table dummy_emp;

In [0]:
select * from dummy_emp;

In [0]:
-- Aggregations

select min(emp_salary) from employee;

In [0]:
select min(emp_salary) as min_salary from employee;

In [0]:
select * from employee;

In [0]:
select emp_dep, emp_id
from employee
group by emp_dep;

In [0]:
select emp_dep, sum(emp_salary) as total_salary_for_dep
from employee
group by emp_dep;

In [0]:
select emp_dep, sum(emp_salary) as total_salary_for_dep
from employee
group by emp_dep
having sum(emp_salary) > 40000;

In [0]:
select emp_dep, sum(emp_salary) as total_salary_for_dep
from employee
group by emp_dep
having total_salary_for_dep > 40000;

In [0]:
select emp_dep, sum(emp_salary) as total_salary_for_dep
from employee
group by emp_dep
having sum(emp_salary) > 40000;

In [0]:
-- select * from employee where emp_id = 102;

In [0]:
select * from employee where emp_id in (100, 102, 103);

In [0]:
alter table employee
add column emp_dep_id int;

In [0]:
select * from employee

In [0]:
update employee
set emp_dep_id = '1000'
where emp_dep = 'IT';

In [0]:
select * from employee 
order by emp_id;

In [0]:
update employee
set emp_dep_id = '2000'
where emp_dep = 'Finance';

In [0]:
select * from employee 
order by emp_id;

In [0]:
-- case when 

select *, 
case 
  when emp_salary >= 15000 then 'true'
  when emp_salary < 15000 then 'false'
  else 'unknown'
end as isHighearner
from employee;