In [0]:
use j2d;

In [0]:
drop table if exists employee;

In [0]:
CREATE TABLE employee (
  id INT,
  name STRING,
  salary DOUBLE,
  dep_id INT
);

INSERT INTO employee VALUES
  (1, 'Alice', 70000, 10),
  (2, 'Bob', 80000, 20),
  (3, 'Charlie', 75000, 10),
  (4, 'Diana', 82000, 30);

In [0]:
INSERT INTO employee VALUES
  (5, 'Farooq', 70000, 50);

In [0]:
select * from employee;

In [0]:
CREATE TABLE department (
  dep_id INT,
  name STRING
);

INSERT INTO department VALUES
  (10, 'HR'),
  (20, 'Finance'),
  (30, 'Engineering'),
  (40, 'Marketing');

In [0]:
select * from department;

In [0]:
-- 4 primary join types
-- left join
-- right join
-- inner join
-- full join

-- cross join

-- left_anti join
-- left_semi join

In [0]:
-- Inner Join

select id, employee.name as emp_name, salary, employee.dep_id, department.name as dep_name 
from employee
join department
on employee.dep_id = department.dep_id;

In [0]:
select id, employee.name as emp_name, salary, employee.dep_id, department.name as dep_name 
from employee
left join department
on employee.dep_id = department.dep_id;

In [0]:
select id, employee.name as emp_name, salary, employee.dep_id, department.name as dep_name 
from employee
right join department
on employee.dep_id = department.dep_id;

In [0]:
select id, employee.name as emp_name, salary, employee.dep_id, department.name as dep_name 
from employee
full join department
on employee.dep_id = department.dep_id;